.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 100%;
    height: auto;
    width: 1748px;
    height: 1241px;
}

@media (max-width: 768px) {
    .image {
        width: 100%;
        height: auto;
    }
}
