@font-face {
    font-family: 'Malibu  Ring';
    src: url('fonts/Malibu-Ring.eot');
    src: url('fonts/Malibu-Ring.eot?#iefix') format('embedded-opentype'),
    url('fonts/Malibu-Ring.woff2') format('woff2'),
    url('fonts/Malibu-Ring.woff') format('woff'),
    url('fonts/Malibu-Ring.ttf')  format('truetype'),
    url('fonts/Malibu-Ring.svg#Malibu  Ring') format('svg');
}

body {
  font-family: "Abhaya Libre", serif;
  font-weight: 400 !important;
  font-style: normal;
  letter-spacing: 0.2em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.5em;
}

.script {
    font-family: 'Malibu  Ring', cursive;
    font-weight: normal;
}

h1 {
    font-family: 'Malibu  Ring', cursive;
    font-weight: normal;
    font-size: 2em;
}


h2 {
    font-family: 'Malibu  Ring', cursive;
    font-weight: normal;
    font-size: 1.5em;
}

.allcaps {
    text-transform: uppercase;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content {
    text-align: center;
}

#title {
    font-size: 3em;
    margin: 0.2em;
    position: relative; /* Needed for pseudo-elements */
    padding: 0.5em 2em; /* Add padding to avoid text overlapping lines */
}

#title::before,
#title::after {
    content: "";
    position: absolute;
    width: 100%; /* Adjust width as needed */
    height: 1px; /* Adjust height for line thickness */
    background-color: black;
    z-index: -1;
}

#title::before {
    top: -0.5em; /* Position line above the heading */
    left: 0;
}

#title::after {
    bottom: -0.5em; /* Position line below the heading */
    left: 0;
}

.subtitle {
    font-family: "Abhaya Libre", serif;
    display: inline;
    padding: 0 40px;
    background-color: white;
    z-index: 2;
    font-weight: 400;
}

#passwordForm {
    padding-top: 100px;
}

/* Invite */
#invitecontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
}

#us {
    min-width: 300px;
    order: 1; /* Initially, image comes first */
}

#us img {
    width: 100%;
    height: auto;
    display: block;
}

#uscaption {
    position: absolute;
    bottom:  10px;
    left: 0;
    right: 50%;
}

#invite {
    min-width: 400px;
    order: 2; /* Initially, text comes second */
}

#names {
    font-size: 1.8em;
    line-height: 1.5em;
}

/* Save the date */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 100%;
    height: auto;
    width: 1748px;
    height: 1241px;
}

@media (max-width: 768px) {
    .image {
        width: 100%;
        height: auto;
    }
}
